.heading {
    width: 100%;
}

h1 {
    display: inline;
    height: 80% !important;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.instructions {
    float: right;
    border: 1px solid white;
    margin-top: 10px;
}

.start {
    font-size: 20px;
}
